@import url("reset.css");

body {
    background-image: url("https://raw.githubusercontent.com/KDE/breeze/master/wallpapers/Next/contents/images/3840x2160.jpg");
    background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.modal.show {
    backdrop-filter: blur(10px);
}
.fade {
    transition: backdrop-filter .25s linear, opacity .15s linear;
}
.material-tm {
    background-color: rgba(255,255,255,0.5);
    backdrop-filter: blur(40px) saturate(200%);
}
.material-item {
    background-color: rgba(0,0,0,0.2);
}
.material-highlight {
    background-color: rgba(61, 174, 233, 0.4);
}

.effect-highlight {
    border-top: 2px solid #3daee9;
}

.item-panel {
    width: 100%;
    height: 48px;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    padding-left: 48px;

    display: flex;
    flex-direction: row;
}

.item-panel-window {
    height: 48px;
    width: 48px;

    margin-left: 6px;

    position: relative;
}

.item-panel-window:hover .item-horizontal-popup {
    visibility: visible;
}

.item-horizontal-popup {
    height: 175px;
    width: 1200px;

    position: absolute;
    top: -175px;
    left: 25%;

    visibility: hidden;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-horizontal-popup.as-column {
    height: 340px;
    width: 200px;

    top: -340px;
    flex-direction: column-reverse;
}

.item-horizontal-popup.as-column .item-horizontal-popup-window {
    height: 48px;
    width: 180px;
    margin-top: 5px;
    background-color: rgba(0,0,0,0.2);
}

.item-horizontal-popup.as-column .item-horizontal-popup-window {
    height: 48px;
    width: 180px;
    margin-bottom: 5px;
}

.item-horizontal-popup-window {
    height: 150px;
    width: 194px;
    margin-left: 5px;
    cursor: pointer;
}

.item-intro-window {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    margin-right: 10px;
}

.item-intro-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.item-command {
    position: fixed;
    top: 50%;
    margin-top: -50px;
    left: 43%;
    right: 43%;
    height: 100px;
}

.item-command * {
    text-align: center;
    vertical-align: middle;
    color: black;
    margin-top: 20px;
    height: 100px;
}

.title {
    background-color: rgba(255,255,255,0.8);
    backdrop-filter: blur(10px);
    color: black;
    padding: 4px;
    border-radius: 4px;
}

.a {
    background-image: url("a.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.b {
    background-image: url("b.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.c {
    background-image: url("c.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.d {
    background-image: url("d.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.e {
    background-image: url("e.svg");
    background-repeat: no-repeat;
    background-size: contain;
}
.f {
    background-image: url("f.svg");
    background-repeat: no-repeat;
    background-size: contain;
}